.page {
  overflow: auto;
  color: var(--p-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
  margin-block-end: var(--pad40_60);
  padding: var(--custom-padding);
  block-size: 100vh;
}

.header__decorated-text {
  position: absolute;
  margin: var(--custom-padding);
  inset-block-start: 0;
  inset-inline-end: 0;
}

.header__decorated-text::before {
  content: "REC";
  color: var(--accent-color);
  line-height: 25px;
}

.header__decorated-text::after {
  content: "";
  display: inline-block;
  margin: 2px 10px 2px;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.header__theme-menu-button {
  border: none;
  color: var(--decorate-color);
  font-family: inherit;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  border: 1px solid color-mix(in srgb, currentColor 40%, transparent);
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  justify-self: start;
  color: var(--h1-color);
  /* font-weight: 700; */
  font-size: var(--fs-h1);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 #ff0070;
}

.title-decor {
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background: var(--accent-color);
}

.header__title-paragraph {
  justify-self: end;
  align-self: center;
  min-inline-size: 355px;
  max-inline-size: 50%;
}

.main {
  display: grid;
  gap: var(--main-gap);
}

.section {
  display: grid;
  gap: 20px;
  margin: 0 var(--custom-padding) 0;
}

.section__question {
  color: var(--decorate-color);
  /* font-weight: 700; */
  font-size: inherit;
  line-height: 130%;
}

.section__answer {
  display: grid;
  gap: 20px;
}

.section__answer-block-margin {
  margin-block-end: 20px;
}

.section__paragraph {
  margin-block-start: 10px;
  line-height: 23.4px;
}

h4.title-decor {
  font-weight: 400;
}

.gallery {
  display: grid;
  gap: var(--custom-padding);
  margin: 0 var(--custom-padding) 0;
}

.gallery__block {
  display: grid;
  gap: var(--custom-padding);
}

.gallery__block-img {
  object-position: center;
  inline-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: var(--pad40_60) 0 0;
  padding: var(--custom-padding);
  block-size: 100vh;
}

.decorative_corners::before,
.decorative_corners::after {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
}

.decorative_corners::before {
  border-inline-end: 1px solid var(--decorate-color);
  border-block-start: 1px solid var(--decorate-color);
  inset-block-start: var(--custom-padding);
  inset-inline-end: var(--custom-padding);
}

.decorative_corners::after {
  border-inline-start: 1px solid var(--decorate-color);
  border-block-end: 1px solid var(--decorate-color);
  inset-block-end: var(--custom-padding);
  inset-inline-start: var(--custom-padding);
}

.footer__title {
  justify-self: start;
  color: var(--h1-color);
  font-weight: 700;
  font-size: var(--fs-h1);
  line-height: 83%;
  text-shadow: 2px 2px 0 #ff0070;
}

.link {
  color: currentColor;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}
