:root {
  --decorate-color: #ff0070;
  --h1-color: #db00ff;
  --text-color: #000028;
  --accent-color: #ff0070;
  --p-color: #f1b2ce;
  --bg-color: #000028;
  --font-family: "IBM Plex Mono", monospace;
  --custom-padding: 10px;
  --pad40_60: 40px;
  --main-gap: 50px;
  --fs-h1: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --custom-padding: 20px;
    --pad40_60: 60px;
    --main-gap: 80px;
    --fs-h1: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}